fastapi
uvicorn[standard]
python-multipart
pandas
scikit-learn
transformers
onnxruntime
websockets
opencv-python-headless
requests
Pillow
onnx
torch
torchvision
torchaudio
timm
open_clip_torch
mediapipe
redis
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
numpy
scipy
