fastapi
uvicorn[standard]
python-multipart
pandas
scikit-learn
transformers
onnxruntime
websockets
opencv-python-headless
requests
Pillow
onnx
torch
torchvision
torchaudio
timm
open_clip_torch
mediapipe
redis
passlib[sha256-crypt]
python-jose[cryptography]
python-dotenv
numpy
scipy
moviepy
yt-dlp
psycopg2-binary
sqlalchemy
pydantic[email]
slowapi
passlib[bcrypt]
bcrypt==3.2.2
scapy
paramiko
pytest
bandit
